In [2]:
import pandas as pd
from pathlib import Path

In [3]:
csvpath = Path("c:/Users/amirh/python-homework/PyBank/budget_data.csv")

In [108]:
budget = pd.read_csv(csvpath)

In [26]:
Total_Months = budget.shape[0]

In [27]:
print(Total_Months)

86

In [82]:
Total = budget['Profit/Losses'].sum()

In [129]:
print("$", Total)

$ 38382578

In [111]:
budget['Difference'] = budget['Profit/Losses'].diff(+1)

In [112]:
budget.head()

       Date  Profit/Losses  Difference
0  Jan-2010         867884         NaN
1  Feb-2010         984655    116771.0
2  Mar-2010         322013   -662642.0
3  Apr-2010         -69417   -391430.0
4  May-2010         310503    379920.0

In [106]:
del budget['difference']

In [113]:
budget.head()

       Date  Profit/Losses  Difference
0  Jan-2010         867884         NaN
1  Feb-2010         984655    116771.0
2  Mar-2010         322013   -662642.0
3  Apr-2010         -69417   -391430.0
4  May-2010         310503    379920.0

In [120]:
Average_Change = budget["Difference"].sum() / 85

In [128]:
print("$", round(Average_Change, 2))

$ -2315.12